<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoTravelCan</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    body{
        background-image: url(http://elbatan.travel/wp-content/uploads/2015/11/Fondo-para-Web-2.jpg);
    }
    .hed{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLBMI2h7zPiQXjlwgEbwgm4KBfoeq8a4xJo38wYW7vCJwPJiX_);
        background-repeat:no-repeat;
        background-size:cover;
    }
    footer{
        margin-top: 50px;
        width: 100%;
        height: 200px;
        
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3  hed">
            <div class="container">
                <a class="navbar-brand"  asp-controller="Home" asp-action="Index">
                    <img src="https://scontent.flim5-2.fna.fbcdn.net/v/t1.0-9/17634794_397141313976375_3629058755435222411_n.jpg?_nc_cat=101&_nc_oc=AQmZ48y7ulqfEWubHHXui8xVuwQcB5xCW4vzPOfaja1S78-qbWpjYj9zUPkGbu2JqIk&_nc_ht=scontent.flim5-2.fna&oh=76347c39238008fedf2df4134b23eb6a&oe=5E657847" width="30" height="30">
                    TravelCan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">                
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AcercaDe">A cerca de nosotros</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">    
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Experiencias">Reseñas</a>
                            </li>
                    </ul>
                </div>
                
                @if (User.Identity.IsAuthenticated) {
                    @if (User.IsInRole("Administrador")){
                     <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">    
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Administrador" asp-action="Lista">Ver Lista de Clientes</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">    
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Administrador" asp-action="RegistroViaje">Registrar Viajes</a>
                            </li>
                        </ul>
                    </div>
                 }
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">                
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cuenta" asp-action="Logout">Cerrar sesión</a>
                            </li>
                        </ul>
                        
                    </div>  
                 }
                 else {
                     <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        
                        <ul class="navbar-nav flex-grow-1">    
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Cuenta" asp-action="Crear">Crear cuenta</a>
                            </li>
                        </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1"> 
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Cuenta" asp-action="Login">Iniciar sesión</a>
                                </li>
                        </ul>
                    </div>
                   
                 }
                <ul class="navbar-nav flex-grow-1">    
                    <li class="nav-item">
                        @using (Html.BeginForm("Buscar", "Home", FormMethod.Post))
                        {
                            @Html.TextBox("Busqueda")<input placeholder="Inserte su correo" class="btn btn-outline-success" type="submit" value="Consultar mi Reserva"  />
                        }
                    </li>
                </ul>
                 

            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-warning">
        <div class="d-flex justify-content-center">
  
            <a target="_blank" href="https://www.facebook.com/TravelcanPeru4/">
                <img height="42" width="45" src="~/face.png" alt="">
            </a>

            <a target="_blank" href="https://api.whatsapp.com/send?phone=51921815193&text=HOLA!%20DESEO%20INFORMACIÓN!">
                <img height="43" width="45" src="~/wsp.png" alt="">
            </a>
            <div class="d-flex justify-content-center">
            <p> &copy; 2019 - TravelCan - <a asp-area="" asp-controller="Home" asp-action="AcercaDe">TravelCan 🐾 </a>
            </p>
        </div>
        </div>
        
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
