@model Tarjeta
<div class="container mt-4">
        <div class="row">
        <div class="col-md-7 mt-5">
    <form action="" class="credit-card-div" method="post">
        <div class="panel panel-default" >
         <div class="panel-heading">
             
              <div class="row ">
                      <div class="col-md-12">
                          <input type="text" class="form-control" placeholder="Enter Card Number" />
                      </div>
                  </div>
             <div class="row ">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                          <span class="help-block text-muted small-font" > Expiry Month</span>
                          <input type="text" class="form-control" placeholder="MM" />
                      </div>
                 <div class="col-md-3 col-sm-3 col-xs-3">
                          <span class="help-block text-muted small-font" >  Expiry Year</span>
                          <input type="text" class="form-control" placeholder="YY" />
                      </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                          <span class="help-block text-muted small-font" >  CCV</span>
                          <input type="text" class="form-control" placeholder="CCV" />
                      </div>
                 <div class="col-md-3 col-sm-3 col-xs-3">
        <img src="~/confinder_Visa_345551.png" class="img-rounded" />
                 </div>
                  </div>
             <div class="row ">
                      <div class="col-md-12 pad-adjust">
        
                          <input type="text" class="form-control" placeholder="Name On The Card" />
                      </div>
                  </div>
             <div class="row">
        <div class="col-md-12 pad-adjust">
            <div class="checkbox">
            <label>
              <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
            </label>
          </div>
        </div>
             </div>
               <div class="row ">
                      <div >
                          <button type="submit"  class="btn btn-warning btn-block">PAY NOW</button>
                              
                      </div>
                  </div>
             
                           </div>
                  
                        </div>
        </form>
    </div>
    <div class="col-md-5">
        <img src="dogwithcreditcard.png" alt="">
    </div>
    </div>
    </div>